/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0 1.5%;
}
@media (max-width: 500px) {
  html,
  body {
    display: flex;
    flex-flow: column nowrap;
  }
}
h2 {
  font-size: 1.8rem;
}
nav {
  display: flex;
  justify-content: flex-end;
}
nav a {
  list-style: none;
  text-decoration: none;
  padding: 1% 1.5%;
  color: #245c72;
}
nav a:hover {
  transform: scale(1.5);
}
.header {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: lightgrey;
  height: 60vh;
  padding-left: 2%;
}
.header img {
  width: 20%;
}
.header h1 {
  font-size: 2rem;
  padding: 1% 0;
}
.header hr {
  color: blue;
}
.header p {
  font-size: 1rem;
  padding: 1% 0 2% 0;
}
.header button {
  width: 10%;
  padding: 1% 0;
  border-radius: 10px;
  background-color: darkgreen;
  color: white;
}
@media (max-width: 500px) {
  .header button {
    width: 20%;
    margin-bottom: 2%;
  }
}
.middle-section {
  display: grid;
  grid-template-rows: repeat(1, 2fr);
  grid-template-columns: repeat(2, 1fr);
  padding: 2% 0;
}
.middle-section .listen-up {
  padding-right: 13%;
}
.middle-section .skill {
  border: 2px solid lightgray;
  padding: 2% 0 2% 1%;
  font-family: 'Sulphur Pont', sans-serif;
}
.work-history table {
  margin-bottom: 3%;
}
.work-history table td,
.work-history table th {
  text-align: center;
  border: 2px solid black;
  padding: 1.5% 0;
}
.work-history table th {
  font-size: 1.2rem;
}
footer {
  background-color: lightgrey;
  text-align: center;
  padding: 4% 0;
  color: white;
}
